{% extends 'pweb/nav.html' %}
{% block title %} Birth Chart Submission {% endblock %}

{% block content %}

<style>
<!--*,*::before,*::after{-->
<!--			padding: 0;-->
<!--			margin: 0;-->
<!--		}-->
<!--		.container:not(.c1){-->
<!--			width: 100vw;-->
<!--			height: 295px;-->
<!--			position: relative;-->
<!--		}-->
<!--		.c1{-->
<!--			background-color: #F06060;-->
<!--			text-align: center;-->
<!--			width: 100vw;-->
<!--			position: relative;-->
<!--			padding: 50px 0;-->
<!--		}-->

<!--		.c6{-->
<!--			background-color: #FFFFFF;-->
<!--		}-->


<!--		.c1>span{-->
<!--			display: block;-->
<!--			font-family: 'Poppins',sans-serif;-->
<!--		}-->
<!--		.subheading{-->
<!--			font-size: 35px;-->
<!--			font-weight: 600;-->
<!--			letter-spacing: 2px;-->
<!--			text-transform: uppercase;-->
<!--			color: rgba(255,255,255,0.6);-->
<!--		}-->
<!--		.heading{-->
<!--			font-size: 20px;-->
<!--			font-weight: 500;-->
<!--			margin-top: 10px;-->
<!--			letter-spacing: 1px;-->
<!--			color: white;-->
<!--		}-->
<!--		/*Basic Styling of Button*/-->
<!--		.button{-->
<!--			height: 80px;-->
<!--			width: 600px;-->
<!--			color: white;-->
<!--			transition: 0.5s;-->
<!--			border:4px solid white;-->
<!--			cursor: pointer;-->
<!--			position: absolute;-->
<!--			margin: auto;-->
<!--			left: 0;-->
<!--			right: 0;-->
<!--			top: 0;-->
<!--			bottom: 0;-->
<!--		}-->
<!--		.button>span{-->
<!--			position: absolute;-->
<!--			transform: translate(-50%,-50%);-->
<!--			top:50%;-->
<!--			left: 50%;-->
<!--			font-size: 25px;-->
<!--			font-family: 'Poppins',sans-serif;-->
<!--			font-weight: 600;-->
<!--			letter-spacing: 1px;-->
<!--		}-->





<!--		/* Slide In Button Effect*/-->
<!--		.btn5{-->
<!--			z-index: 2;-->
<!--			overflow: hidden;-->
<!--		}-->
<!--		.btn5:before{-->
<!--			content: "";-->
<!--			position: absolute;-->
<!--			height: 80px;-->
<!--			background-color: white;-->
<!--			width: 100px;-->
<!--			left:-104px;-->
<!--			border-left: 4px solid white;-->
<!--			transition: 0.5s;-->
<!--		}-->
<!--		.btn5:after{-->
<!--			content: "";-->
<!--			position: absolute;-->
<!--			height: 80px;-->
<!--			background-color: white;-->
<!--			width: 100px;-->
<!--			right: -104px;-->
<!--			border-right: 4px solid white;-->
<!--			transition: 0.2s;-->
<!--			z-index: -1;-->
<!--		}-->
<!--		.btn5:hover{-->
<!--			color:#FFFFFF;-->
<!--		}-->
<!--		.btn5:hover:before{-->
<!--			left:0;-->
<!--		}-->
<!--		.btn5:hover:after{-->
<!--			right:0;-->
<!--		}-->

.modal {
  background-color:black;
  body{
  color: #721c24 ;
  }
}

#more {display: none;}
















</style>
<center>
    <div class="container c6">
        <button class="button  btn5 btn-success my-3" data-target="#Modal" data-toggle="modal"
                style="margin:auto;display:block" type="button"
        >
            <span> Click Here to submit your Birth Information </span>
        </button>
    </div>
</center>
<div aria-hidden="true" aria-labelledby="ModalLabel" class="modal fade" id="Modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Enter Your Birth Information Here</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{% url 'client' %}" method="post">
                {% csrf_token %}
                <div class="form-group mx-2 my-3">
                    <label for="name">Name</label>
                    <input id="name" name='name' placeholder="Write Your First Name" required type="text">
                </div>

                <div class="form-group mx-2 my-3">
                    <label for="phone">Phone</label>
                    <input id="phone" name='phone' placeholder="Write Your Phone Number" required type="number">
                </div>

                <div class="form-group mx-2 my-3">
                    <label for="email">Email</label>
                    <input id="email" name='email' placeholder="name@example.com" required type="email">
                </div>
                <div class="form-group mx-2 my-3">
                    <label>Gender:</label>
                    <input checked="checked"
                           id="mgender"
                           name="gender"
                           type="radio"/>
                    <label for="mgender">Male</label>

                    <input id="fgender"
                           name="gender"
                           required type="radio"/>
                    <label for="fgender">Female</label>

                    <input id="ogender"
                           name="gender"
                           required type="radio"/>
                    <label for="ogender">Others</label>
                </div>
                <div class="form-group mx-2 my-3">

                    <label for="dob">Date of Birth</label>
                    <input class="dob" id="dob" name='dob' required type="datetime-local">
                </div>
                <div class="form-group mx-2 my-3">

                    <label for="district">Choose Your Birth District</label>
                    <select id="district" name="district" required>
                        <option value="">--Select District--</option>
                        <option value="Taplejung">Taplejung</option>
                        <option value="Panchthar">Panchthar</option>
                        <option value="Ilam">Ilam</option>
                        <option value="Jhapa">Jhapa</option>

                        <option value="Morang">Morang</option>
                        <option value="Sunsari">Sunsari</option>
                        <option value="Dhankhuta">Dhankhuta</option>
                        <option value="Sankhuwasabha">Sankhuwasabha</option>
                        <option value="Bhojpur">Bhojpur</option>
                        <option value="Terhathum">Terhathum</option>

                        <option value="Okhaldunga">Okhaldunga</option>
                        <option value="Khotang">Khotang</option>
                        <option value="Solukhaumbu">Solukhaumbu</option>
                        <option value="Udayapur">Udayapur</option>
                        <option value="Saptari">Saptari</option>
                        <option value="Siraha">Siraha</option>

                        <option value="Dhanusa">Dhanusa</option>
                        <option value="Mahottari">Mahottari</option>
                        <option value="Sarlahi">Sarlahi</option>
                        <option value="Sindhuli">Sindhuli</option>
                        <option value="Ramechhap">Ramechhap</option>
                        <option value="Dolkaha">Dolkaha</option>

                        <option value="Sindhupalchowk">Sindhupalchowk</option>
                        <option value="Kavreplanchowk">Kavreplanchowk</option>
                        <option value="Lalitpur">Lalitpur</option>
                        <option value="Bhaktapur">Bhaktapur</option>
                        <option value="Kathmandu">Kathmandu</option>
                        <option value="Nuwakot">Nuwakot</option>
                        <option value="Rasuwa">Rasuwa</option>
                        <option value="Dhading">Dhading</option>

                        <option value="Makwanpur">Makwanpur</option>
                        <option value="Rautahat">Rautahat</option>
                        <option value="Bara">Bara</option>
                        <option value="Parsa">Parsa</option>
                        <option value="Chitwan">Chitwan</option>

                        <option value="Gorkha">Gorkha</option>
                        <option value="Lamjung">Lamjung</option>

                        <option value="Tanahun">Tanahun</option>
                        <option value="Syangja">Syangja</option>
                        <option value="Kaski">Kaski</option>
                        <option value="Manang">Manang</option>

                        <option value="Mustang">Mustang</option>
                        <option value="Parvat">Parvat</option>
                        <option value="Myagdi">Myagdi</option>

                        <option value="Baglung">Baglung</option>

                        <option value="Gulmi">Gulmi</option>
                        <option value="Palpa">Palpa</option>
                        <option value="Nawalparasi">Nawalparasi</option>
                        <option value="Rupandehi">Rupandehi</option>
                        <option value="Arghakhanchi">Arghakhanchi</option>
                        <option value="Kapilvastu">Kapilvastu</option>

                        <option value="Pyuthan">Pyuthan</option>
                        <option value="Rolpa">Rolpa</option>
                        <option value="Rukum">Rukum</option>
                        <option value="Salyan">Salyan</option>
                        <option value="Dang">Dang</option>

                        <option value="Bardiya">Bardiya</option>
                        <option value="Surkhet">Surkhet</option>
                        <option value="Dailekh">Dailekh</option>
                        <option value="Banke">Banke</option>
                        <option value="Jajarkot">Jajarkot</option>

                        <option value="Dolpa">Dolpa</option>
                        <option value="Humla">Humla</option>
                        <option value="Kalikot">Kalikot</option>
                        <option value="Mugu">Mugu</option>
                        <option value="Jumla">Jumla</option>

                        <option value="Bajura">Bajura</option>
                        <option value="Bajhang">Bajhang</option>
                        <option value="Achham">Achham</option>
                        <option value="Doti">Doti</option>
                        <option value="Kailali">Kailali</option>

                        <option value="Kanchanpur">Kanchanpur</option>
                        <option value="Dadeldhura">Dadeldhura</option>
                        <option value="Baitadi">Baitadi</option>
                        <option value="Darchula">Darchula</option>
                    </select>

                </div>
                <div class="form-group mx-2 my-3">
                    <label for="pro">Choose Your Birth Province </label>
                    <select id="pro" name="pro" required>
                        <option value="">--Select province--</option>
                        <option value="">Province-1</option>
                        <option value="">Province-2</option>
                        <option value="">Province-3</option>
                        <option value="">Province-4</option>
                        <option value="">Province-5</option>
                        <option value="">Province-6</option>
                        <option value="">Province-7</option>
                    </select>
                </div>


                <div class="form-group mx-2 my-3">
                    <label for="desc">Write queries here</label>
                    <style>
                             .formfield {
                             vertical-align: middle;
                             }



                    </style>
                    <textarea class="formfield" id="desc" name="desc"
                              placeholder="--Write Your Quires Clearly--" rows="3"></textarea>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
$('Modal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var recipient = button.data('whatever')

  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)

});


</script>

<center>
    <div class="container c6">
        <button class="button  btn5 btn-success my-3" data-target="#Modal1" data-toggle="modal" type="button">
            <span> Click Here to submit your palm picture</span>
        </button>
    </div>
</center>


<!-- Modal -->
<div aria-hidden="true" aria-labelledby="ModalLabel" class="modal fade" id="Modal1" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel1">Upload Your Palm Pictures </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'images' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group mx-2 my-3">
                        <label for="name">Name</label>
                        <input id="name_u" name='name_u' placeholder="Write Your First Name" required type="text">
                    </div>

                    <div class="form-group mx-2 my-3">
                        <label for="phone">Phone</label>
                        <input id="phone_u" name='phone_u' placeholder="Write Your Phone Number" required type="number">
                    </div>

                    <div class="form-group mx-2 my-3">
                        <label for="email">Email</label>
                        <input id="email_u" name='email_u' placeholder="name@example.com" required type="email">
                    </div>
                    <div class="form-group mx-2 my-3">
                        <label for="avatar">Upload Your right palm picture:</label>

                        <input accept="image/jpeg, image/svg,image/png, image/jpg"
                               id="avatar" multiple name="picture1"
                               required type="file">
                        <div class="my-3">

                            <label for="avatar1">Upload Your left palm picture:</label>

                            <input accept="image/jpeg, image/svg,image/png, image/jpg"
                                   id="avatar1" multiple name="picture"
                                   required type="file">
                        </div>
                        <div class="form-group my-3">
                            <label for="dob">Date of upload picture</label>
                            <input class="dob" id="dob1" name='dou' required type="datetime-local">
                        </div>
                    </div>


                </div>

                <div class="form-group mx-4 my-3">
                    <label for="desc">Write queries here</label>
                    <style>
                             .formfield {
                             vertical-align: middle;
                             }



                    </style>
                    <textarea class="formfield" id="desc1" name="desc1"
                              placeholder="--Write Your Quires Clearly--" rows="3"></textarea>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" style="margin:auto;display:block" type="submit">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!--</form>-->
<style>
div.d {
              text-align: justify;
              text-justify: inter-word;
            }



</style>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h2 class="display-5 my-3">Astrology and Palmistry</h2>
        <div class="d">
            <p>
                Astrology started with the yearning of
                astrologers over the centuries to associate terrestrial location with the
                qualities of zodiacal signs. The first known efforts at this can be traced
                back to Babylonian and Assyrian tablets. 1
                The first known classical attempt, ascribing zodiacal rulerships to
                nations, is found in Marcus Manilius' work, Astronomica, written around
                the beginning of the Christian era. An early attempt that survives was by
                Claudius Ptolemy in the first to second centuries AD and published in his
                work Tetrabiblos? Muslim astrologers of the ninth to twelfth centuries
                added to these attempts, most notably Al Biruni, writing in 1029. Medieval
                astrologers followed, most borrowing heavily from the work of Ptolemy.
                Of note was the work of William Lilly who published in 1647. Further
                lists were produced by Raphael, Green, Sepharial and Charles Carter,
                each adding their insights to the correlation of zodiacal qualities with
                locations on Earth. <span id="dots">...</span> <span id="more">Human personality is infinitely intricate,
            and delineating the
            various aspects of a native's life from a horoscope is a complex
            task. What is required is that we choose the right Astrological
            System that helps us to generate the different horoscopes of
            individuals born with very little time difference, and provide us
            with the means of clearly analysing what is promised for various
            aspects of the lives, of individuals born with a time difference of
            say only a few seconds. And The main reason a person would have a palm reading is for guidance and support,
            yet anxiety can creep in. A person wants to hear good news yet may feel apprehensive in case they are told
            something they do not want to hear. The palm reader and client need to work together in order to establish
            the confidence and trust necessary in the reading. It is important to find a good balance between the
            positives and negatives in a person’s hand.</span>


            </p>

            <p>
                <button class="btn btn-success" id="myBtn" onclick="myFunction()">Read More &raquo;</button>
        </div>


        </p>
    </div>
</div>
<style>
 div.text {
  text-align: justify;
  text-justify: inter-word;
}




</style>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h3> My Thoughts About Astrology</h3>
            <div class="text">
                <p>Astrology is not only a readings of planets but also a way of living. Human can lies but astrology
                    not.
                    In an organizations there should be a astrologer to predict the planets,<i>grahas and dashas</i>.It
                    is a
                    deep down ocean to dive,more drown more interesting.</p>
            </div>

        </div>
        <style>
             div.a {
              text-align: justify;
              text-justify: inter-word;
            }


        </style>

        <div class=" container-fluid col-md-4">
            <h3> My Thoughts About Palmistry</h3>
            <div class="a">
                <p>Palmistry is not only a readings of lines and planets of hands but also a way of studying human
                    nature.
                    In anorganizations there should be a palmist to predict the nature of <i>employees and other
                        staff</i>
                    to know nature and treat them according to their nature and also know the way of treating them and
                    motivating
                    them </p>
            </div>

        </div>

    </div>
</div>

<hr>


</div> <!-- /container -->

</main>
<!--<center>-->
<!--    <div class="container">-->

<!--        <style>-->
<!--         .fb_iframe_widget {overflow: hidden;}-->
<!--        div.fb-comments.fb_iframe_widget span {margin-bottom: -45px;}-->


<!--        </style>-->

<!--        <p><b> How you feel about my Perdiction,Leave reviews here. </b></p>-->
<!--        <script async crossorigin="anonymous" defer nonce="COvqo6YB"-->
<!--                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"></script>-->
<!--        <div class="fb-comments" data-href="http://127.0.0.1:8000/pweb/birth/" data-numposts="5" data-width=""></div>-->
<!--    </div>-->
<!--</center>-->
<script>

     function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}









</script>


{% endblock %}



